<div class="question-form" *ngIf="question">
  {{ question.label }}
  <form [formGroup]="form">
    <div class="form-group">
      <mat-radio-group
        class="question-form__radio-group"
        formControlName="choice"
      >
        <mat-radio-button
          color="primary"
          class="question-form__radio-button"
          *ngFor="let choice of question.choices"
          [value]="choice"
        >
          {{ choice.value }}
        </mat-radio-button>
      </mat-radio-group>
    </div>
  </form>
</div>
