<section>
  <h2>Available Quizzes</h2>
  <div class="grid">
    <div *ngFor="let q of quiz" class="grid__item">
      <div>
        <mat-card class="">
          <mat-card-header>
            <mat-card-title>{{ q.label }}</mat-card-title>
          </mat-card-header>

          <mat-card-content class="quizz">
            {{ q.description }}
          </mat-card-content>
          <mat-card-actions>
            <button mat-raised-button color="primary">
              <a routerLink="/{{ q.name }}">Start Quiz</a>
            </button>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
  </div>
</section>
