@import "app/app.component.scss";

html,
body {
  height: 100%;
  font-family: "Roboto", sans-serif;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-radio-label {
  white-space: unset !important;
}

.mat-radio-label-content {
  word-break: break-word;
}
